In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\prashant pathak\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\prashant pathak\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\prashant pathak\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\prashant pathak\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\prashant pathak\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: outcome in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.1)
Requirement already satisfied: idna in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\prashant pathak\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\prashant pathak\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\prashant pathak\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\prashant pathak\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\Prashant Pathak\Downloads\chromedriver_win32\chormedriver.exe")

In [4]:
driver.maximize_window()

In [5]:
driver=webdriver.Chrome('chormedriver.exe')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [6]:
url='https://www.naukri.com/'
driver.get(url)

search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Analyst")

search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

job_titles=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
    
company_name=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
    
exp=[]
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags:
    exp.append(i.text)
    
loc=[]
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in loc_tags:
    loc.append(i.text)
    
jobs=pd.DataFrame({"Job Title":job_titles,"Company":company_name,"Experiance":exp,"Location":loc})
print(len(job_titles),len(company_name),len(exp),len(loc))
job=jobs[0:10]
job

20 20 20 20

,Job Title,Company,Experiance,Location
0,Data Analyst,Cargill,3-5 Yrs,Bangalore/Bengaluru
1,APRP Manager / Senior Data Analyst - MeritTrac...,MeritTrac,9-14 Yrs,Bangalore/Bengaluru
2,Sr Data Analyst,Inspira Enterprise India Pvt. Ltd.,3-4 Yrs,Bangalore/Bengaluru
3,Senior Data Management Analyst,Wells Fargo,5-7 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst - PLM Data Migration,CGI,3-6 Yrs,Bangalore/Bengaluru
5,People Data Analyst,Western Digital,6-8 Yrs,Bangalore/Bengaluru
6,Associate Healthcare Research & Data Analyst,Clarivate,3-4 Yrs,Bangalore/Bengaluru
7,Lead Data Analyst,Mobile Premier League (MPL),4-7 Yrs,Bangalore/Bengaluru
8,Contractual Hiring For Top MNC || Business Dat...,TeamLease,5-8 Yrs,Bangalore/Bengaluru
9,Master Data Management Business Analyst,Accenture,6-8 Yrs,Bangalore/Bengaluru

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [7]:
url='https://www.naukri.com/'
driver.get(url)

search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

search_locn=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys("Bangalore")

search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

job_titles=[]
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text)
    
company_name=[]
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags:
    company_name.append(i.text)
    
exp=[]
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags:
    exp.append(i.text)
    
loc=[]
loc_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in loc_tags:
    loc.append(i.text)
    
print(len(job_titles),len(company_name),len(exp),len(loc))

jobs=pd.DataFrame({"Job Title":job_titles,"Company":company_name,"Experiance":exp,"Location":loc})
job=jobs[0:10]
job

20 20 20 20

,Job Title,Company,Experiance,Location
0,Analystics & Modeling Specialist,Accenture,6-8 Yrs,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Assistant Manager - Data Science,Citiustech,5-9 Yrs,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
2,Senior Data Scientist,Wipro,6-11 Yrs,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
3,"Program Manager, Analytics",Uber,3-7 Yrs,Bangalore/Bengaluru
4,Data Scientist - Looking For Immediate Joiners,Wipro,5-10 Yrs,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
5,Data Scientist,Altair,2-7 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
6,Senior Data Scientist,Boston Consulting Group,5-10 Yrs,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"
7,Data Scientist - II,Bizongo,3-6 Yrs,"Bangalore/Bengaluru, India, Mumbai (All Areas)"
8,Lead ML Scientist,Fractal Analytics,6-10 Yrs,"Bangalore/Bengaluru, Mumbai"
9,Senior Data Scientist,Baker Hughes,6-8 Yrs,"Bangalore/Bengaluru, Mumbai"